/* RESET //////////////////////////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STARTER-PACK //////////////////////////*/
.flexbox{
    display: flex;
}

.flexbox-c{
    display: flex;
    flex-direction: column;
}

/* UTILITIES //////////////////////////*/
a{
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    a:hover{
        text-decoration: underline;
    }
}

.pill{
    padding: 0.6rem 1.2rem;
    border-radius: 1.6rem;
    display: inline-block;
}

.white-pill{
    background-color: white;
    color: black;
}

.blue-pill{
    background-color: #0184fd;
    color: white;
}

.violet-pill{
    background-color: #9792e4;
    color: white;
}

.monospace{
    font-family: monospace;
    font-weight: 700;
}

.blue-card-title{
    font-size: 1.3rem;
    font-weight: 700;
    color: #0184fd;
    padding: 1.4rem 0;
}

.hero-white-title{
    font-size: ;
    font-weight: ;
    color: white;
}

.hero-black-title{
    font-size: ;
    font-weight: ;
    color: black;
}

.testimonials-title, 
.benefits-title,
.get-started-title{
    font-size: ;
    font-weight: ;
}

.capital-letters{
    font-family: ;
    text-transform: uppercase;
}

.testimonials-title{
    color: #9792e4;
}

.testimonials-cl{
    font-size: ;
    font-weight: ;
    color: black;
}

.benefits-title{
    color: white;
}

.about-us-title{
    font-size: ;
    font-weight: ;
    color: #9792e4;
}

.get-started-cl{
    font-size: ;
    font-weight: ;
    color: #cbc9f1;
}

.get-started-title{
    color: white;
}

.get-started-promo{
    font-size: ;
    font-weight: ;
    color: #fdc15f;
}

.pad-bot{
    padding-bottom: 1.6rem;
}

.mar-bot{
    margin-bottom: 1.6rem;
}
/* CONTAINERS //////////////////////////*/
.container{
    padding: 0 7.5%;
}


/* HEADER //////////////////////////*/
header{
    background-color: #0184fd;
    padding: 4vw 0;
}

nav{
    justify-content: space-between;
    align-items: center;
}

img.logo{
    height: 50px;
}

nav ul{
    display: none;
}

img.menu{
    height: 40px;
}

@media screen and (min-width: 480px) {
    header{
        padding: 2.5vw 0;
    }

    img.logo{
        height: 28px;
    }

    img.menu{
        height: calc(28px * 4 / 5);
    }
}

@media screen and (min-width: 768px) {
    header{
        padding: 1.6vw 0;
    }

    img.logo{
        height: 20px;
    }

    nav ul{
        display: flex;
        list-style: none;
        gap: 2vw;
        align-items: center;
    }

    nav a{
        color: white;
    }

    img.menu{
        display: none;
    }
}

/* MAIN //////////////////////////*/
main section:nth-child(even){
    background-color: #9692e3;
}

/* MAIN - BLUE CARDS //////////////////////////*/
section.blue-cards{
    flex-wrap: wrap;
    gap: 1.8rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.blue-card{
    background-color: #b5ddff;
    border-radius: 1.4rem;   
    padding: 1.4rem;
    text-align: center;
}

.blue-cards .text{
    color: #4b4b4b;
    line-height: 1.6rem;
    font-size: 0.9rem;
}

.apple-logo{
    height: 20px;
    vertical-align: sub;
}

.phone{
    height: 350px;
    position: relative;
    top: 1.7rem;
}

@media screen and (min-width: 480px) {
    .blue-card:first-of-type{
        width: calc(100% - 1.8rem - ((100% - 3.6rem) / 3));
    }
    .blue-card{
        width: calc((100% - 3.6rem) / 3);
    }
}

@media screen and (min-width: 768px) {
    .container{
        padding: 0 15%;
    }

    .blue-card:first-of-type{
        display: flex;
    }

    .phone{
        position: relative;
        top: 1.4rem;
    }
}

/* FOOTER //////////////////////////*/
footer .text{
    color: white;
    font-size: ;
}